.formContainer {
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btnContainer {
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.errorMessage {
  width: 300px;
  max-width: 100%;
  margin: 0 auto;
  font-size: 12px;
  color: red;
  text-align: start;
  margin-bottom: 5px;
}

.message {
  color: green;
}

input {
  width: 300px;
  max-width: 100%;
  padding: 10px;
  margin: 5px;
}

.closePanelBtn {
  text-align: end;
  cursor: pointer;
  font-weight: bold;
}

@media (max-width: 450px) {
  .formContainer {
    width: 300px;
    max-width: 100%;
  }
}
