.container {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 3px;
}

.card {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 450px) {
  .card {
    flex-direction: column;
    justify-content: center;
  }
}
