.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0 auto;

  .questionsContainer ul {
    list-style: none;
  }

  .questionsContainer .questionNumber {
    font-weight: bold;
  }

  .questionsContainer input {
    margin-right: 4px;
  }

  .questionTitle {
    font-size: 24px;
  }

  .answerText {
    font-size: 18px;
  }

  .buttonsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    margin-top: 10px;
  }

  .inputContainer {
    margin: 14px 0;
  }

  .resultsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .score {
    background-color: #50abe0;
    padding: 4px 16px;
    color: #fff;
  }

  .correctAnswer {
    background-color: #50e050;
    padding: 3px 0;
    color: #fff;
    font-weight: bold;
  }

  .incorrectAnswer {
    background-color: rgb(247, 117, 117);
    padding: 3px 0;
    color: #fff;
    font-weight: bold;
  }

  .invalidQuiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .answerContainer {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
  }
}