.container {
  background-color: #0C1B33;
  color: #fff;
  height: 100vh;
  width: 10vw;
  max-width: 100%;
  display: flex;
  justify-content: center;
  justify-items: start;
  left: 0;
  top: 0;
  position: fixed;
}

.list {
   list-style-type: none;
   padding: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.listItem {
    margin: 10px 0;
    cursor: pointer;
    a {
        text-decoration: none;
        color: #fff;
    }
}

.item {
  display: inline-block;
}

svg {
  margin-right: 5px;
}

@media (min-width: 10px) and (max-width: 1075px) {
  .item {
    display: none;
  }
}
