.questionsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .questions {
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 20px;
    width: 30vw;
    margin-top: 30px;

    textarea {
      width: 100%;
      resize: none;
    }

    .questionHeader {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }
  }
}

.choicesContainer {
  display: flex;
  flex-direction: column;

  .choices {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 6px;
  }

  span {
    font-size: 0.9rem;
  }

  .choiceItem {
    display: flex;
    align-items: center;
    label {
      font-size: 0.8rem;
      padding-right: 1px;
      padding-left: 4px;
    }

    input[type=radio] {
      height: 0.8em;
    }
  }
}

.imageContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 16px;
  margin-bottom: 8px;
  margin-top: 16px;

  span {
    font-size: 0.9rem;
  }
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 12px;
  margin-top: 12px;
}

.trashIcon {
  position: absolute;
  left: 99%;
  transform: translateX(-99%);
  cursor: pointer; 
}

.trashIcon:hover {
  opacity: .6;
}

.errorText {
  color: red;
  font-size: 14px;
}