.detailsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    margin-top: 10px;
}

.detailContainer {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 auto;
    padding: 30px;
}

.detailTitle {
    font-weight: bold;
}

.itemContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 1px solid #ccc;
    margin-bottom: 6px;
}

.questionContainer {
    margin-top: 20px;
}

.separator {
    margin-top: 10px;
}

.answersContainer {
    display: flex;
    flex-direction: column;
}

.answerTitle {
    margin-bottom: 30px;
}