.container {
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin: 0 auto;
}

.btnContainers {
    display: flex;
    width: 200px;
    max-width: 100%;
    justify-content: space-around;
    margin: 0 auto;
    margin-bottom: 20px;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}


@media (max-width: 450px) {
  .container {
    justify-content: center;
  }
  .detailsContainer  {
    margin: 0 auto;
  }
}
