.container {
    text-align: center;
    position: relative;
}

.btnContainer {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 450px) {
  .container {
    margin-left: 10vw;
  }
}
